<section class="feature_9 bg_white padding_top110 padding_bottom80">
	<div class="container nopadding">
    <div class="items index">
      <h2 class="font42 font_second light dark_gray bottom20">Administrative Control Panel</h2>
  
      <%= link_to("Inventory Manager", items_path, :class => 'action index') %></br>
      <%= link_to("User Manager", users_path, :class => 'action index') %></br>
      <%= link_to("Referral Code Manager", referral_codes_path, :class => 'action index') %></br>
      <%= link_to("Advertisement Code Manager", advertisement_codes_path, :class => 'action index') %>
    </div>
  </div>
</section>