<style>
* {
  box-sizing: content-box;
}
</style>

<div class="NewLandingPage">
  <header class="background flex">
    <div class="welcome_elements">
      <div class="welcome_to_a_closet padding_bottom25">
        Welcome to a closet without boundaries.
      </div>
      <div class="welcome_description padding_bottom25">
        This is The Rotation. A members-only club that gives you access to an extensive designer wardrobe, for a fraction of the price. Everything you could want, right at your fingertips.
      </div>
      <div class="sign_up_box flex align_center justify_center">
        <%= link_to(new_user_registration_path) do %>
          <div class="sign_up">
            SIGN UP
          </div>
        <% end %>
      </div>
    </div>
  </header>
  
  <section class="how_it_works padding_bottom100 flex justify_evenly">
    <div class="step_box">
      <div class="large_number inline_block top10 padding_sides40">1.</div>
      <div class="step_title inline_block">
        Select your pieces
      </div>
      <div class="step_description top30 margin_auto">
        Browse our curated catalog from the world’s most coveted designers. We'll deliver it straight to your door with a pre-paid return shipping label.
      </div>
    </div>
    <div class="step_box">
      <div class="large_number inline_block top10 padding_sides40">2.</div>
      <div class="step_title inline_block">
        Rotate without limits
      </div>
      <div class="step_description top30 margin_auto">
        Whether its a special ocassion or your next daily wear, The Rotation holds no limits above your head. Wear, purchase, or rotate amongst our catalog as you see fit.
      </div>
    </div>
    <div class="step_box">
      <div class="large_number inline_block top10 padding_sides40">3.</div>
      <div class="step_title_wide inline_block">
        We'll take care of the rest
      </div>
      <div class="step_description top30 margin_auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      </div>
    </div>
  </section>
  <section class="padding_bottom50">
    <h2 class="padding_left50 padding_bottom35 section_header">What's In Store</h2>
    <div class="scrolling-wrapper">
      <div class="padding_left30"></div>
      <% @items.each_with_index do |item, index| %>
        <div key={index} class="card max_width150 padding_sides20">
          <div class="item_card flex align_center justify_center">
            <img class="max_width130 item_image" src=<%= item.image.url %> alt="" />
          </div>
          <div class="brand padding_top10"><%= item.title %></div>
          <div class="description padding_top5"><%= item.subtitle %></div>
        </div>
      <% end %> 
      <div class="padding_right30"></div>
    </div>
  </section>
</div>