<!-- Header 8 -->

<header class="header_8 padding_top225 padding_bottom155">

	<!-- Navigation 13 -->

	<nav class="navigation_13 padding_top30 padding_bottom30 top45">
		<div class="container nopadding text-center">
			<%= link_to("Home", root_path, class: "sides15 semibold uppercase spacing20 font14 line_height40 link white") %>
		  <% if current_user.admin? %>
		    <%= link_to("Admin", admin_path, class: "sides15 semibold uppercase spacing20 font14 line_height40 link white") %>
		  <% end %>
		  <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "sides15 semibold uppercase spacing20 font14 line_height40 link white") %>
		</div>
	</nav>


  <div class="container nopadding">
    <!-- <img srcset="i/header_8_logo.png 1x, i/header_8_logo_2x.png 2x" src="i/header_8_logo.png" class="margin_auto logo" alt="" /> -->
    <div class="text-center ubuntu white font20 top15">the rotation</div>
    <% if current_user.waitlist? %>
      <h1 class="text-center white font_second light font92 top45">You're on the waitlist.</h1>
      <div class="top65">
        <div>
          <div class="max_width570 margin_auto white text-center light font22 text">
            We'll email you once its your time to join The Rotation.
          </div>
        </div>
      </div>
      <% elsif current_user.standard? %>
        <h1 class="text-center white font_second light font92 top45">You're in.</h1>
        <div class="top65">
          <div>
            <div class="max_width570 margin_auto white text-center light font22 text">
              Check your email for instructions.
            </div>
          </div>
        </div>
      <% elsif current_user.admin? %>
        <h1 class="text-center white font_second light font72 top65">Welcome Administrator.</h1>
      <% end %>
      <div class="text-center top165 block_with_button">
        <%= link_to(download_path, class:"width300 max_width_full btn white padding_sides25 size60 radius6") do %>
          <span class="black"><i class="fab fa-apple right10"></i> Download on the App Store</span>
        <% end %>
      </div>
  </div>
</header>
