<!-- Feature 1 -->

<section class="feature_9 bg_white padding_top110 padding_bottom80">
	<div class="container nopadding">
		<h2 class="font42 font_second light dark_gray bottom20">Terms of Service</h2>
		<div class="top10 font18 light dark_blue text text1">
      These Terms of Service apply to www.therotation.club and Rotation Inc. and governs all usage. Unless otherwise noted, all references to Rotation Inc. include www.therotation.club and Rotation. The Rotation website is a ecommerce site. By using the Rotation website, you consent to the terms described in this statement.
    </div>
		<h2 class="font22 light title padding_top20">Cancellation Policy</h2>
		<div class="top10 font18 light dark_blue text text1">
      There are no refunds to a pre-paid membership. Your monthly subscription automatically renews and you will be billed every 30 days. To cancel your monthly membership, email us or visit www.therotation.club/status. You must return your Rented Products before the end of your current billing period to avoid additional fees. If The Rotation does not receive your Rented Products by the end of your billing period in which you want to cancel your membership, The Rotation will charge you 100% of the retail price or value of each Rented Product. 
    </div>
		<h2 class="font22 light title padding_top20">Delivery</h2>
		<div class="top10 font18 light dark_blue text text1">
      All deliveries will be through The Rotation's shipping partners, which may change from time to time at our discretion. The shipping method used will be at the discretion of The Rotation. We will provide you with information about estimated delivery and arrival times of Rental Products through the Site or App. The Products we send to you will be professionally cleaned and delivered ready to wear. We professionally clean, sterilize and inspect each Product we send to you, but use of the Products is at your own risk and The Rotation shall not be held liable for any health-related complaints associated with any Product.
    </div>
    <h2 class="font22 light title padding_top20">Returns</h2>
		<div class="top10 font18 light dark_blue text text1">
      With each shipment of Products we send you, we will include one Return Packaging, which you can use to return one (1), some or all of the our service Rental Products you currently have. If you have four (4) Products, you must return at least one (1) Product to us in order to be eligible to receive another. When we receive any returned Products from you, the next shipment we send you will contain the same number of Products that you have returned. We will use reasonable efforts to send you new Products promptly upon processing your return, but you acknowledge that as a result of processing and delivery, there will be a delay between your return of a Product and receipt of a new Product through our service. You agree to return any Product using the Return Packaging.
    </div>
    <h2 class="font22 light title padding_top20">Damage, Failure to Return Products</h2>
		<div class="top10 font18 light dark_blue text text1">
      Unless you cancel your our service subscription, it will automatically renew on a monthly or recurring pre-pay basis. You expressly authorize us to collect the applicable subscription fee and any taxes, using any payment card on record for you, in connection with any such auto-renewal. You may cancel your our service subscription or find out more information about your our service subscription, including your monthly or recurring pre-pay renewal date, by contacting support@therotation.club. As soon as you cancel, you will not be eligible to receive any additional Products through our service. You may continue to keep Products you have already received through our service, but you must return to The Rotation all such Products on or before the last day of the applicable subscription period during which you cancel. If we don't receive your items on time, you will be charged up to 100% of the retail price. You will not be entitled to any refund of subscription fees. 
    </div>
    <h2 class="font22 light title padding_top20">Changes to and Termination of our Service</h2>
    <div class="top10 font18 light dark_blue text text1">
      Our service is a beta program, we reserve the right to modify our service (including the subscription fee) or terminate our service or your our service subscription at our sole discretion without prior notice. If we terminate your our service subscription, we will provide you with, as determined in our sole discretion, either (a) a prorated refund for the remainder of your current applicable subscription, or (b) continued access to our service for the remainder of that applicable period, in accordance with these Terms. However, we will not give any refund for termination related to conduct that, in our discretion, violates any terms set out in these Terms or any applicable law. If we choose to provide you with continued access to our service for the remainder of that applicable period of your subscription, you will continue to have access to our service during that period, except that we will not send you any Products within ten (10) days of the end of that period. Prior to the end of that period (or, if we do not provide you with continued access to our service, immediately upon our termination of our service or your our service subscription), you must also return to The Rotation all Products you have received in connection with our service.
    </div>
    <h2 class="font22 light title padding_top20">Contact Information</h2>
    <div class="top10 font18 light dark_blue text text1">
      Rotation welcomes your questions or comments regarding these Terms of Service. If you believe that Rotation has not adhered to this Statement, please contact Rotation at support@therotation.club
    </div>
    <div class="top10 font18 light dark_blue text text1">
      Effective as of February 11, 2019
    </div>
  </div>
</section>