.login_box{
  border-radius: 8px;
}
.gray_border{
  border: 1px solid #ADADAD;
}
.input_box{
  border-radius: 2px;
}
.very_light_gray{
  color: #949494;
}
::-webkit-input-placeholder{
  color: #333333;
}
.height15{
  height: 15px;
}
