<%= link_to("<< Back to List", advertisement_codes_path, :class => 'back-link') %>

<div class="advertisement_codes show">
  <h2>Show Advertisement Code</h2>

  <table summary="Advertisement Code detail view">
    <tr>
      <th>Code</th>
      <td><%= @advertisement_code.code %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @advertisement_code.description %></td>
    </tr>
    <tr>
      <th>User Count</th>
      <td><%= @advertisement_code.users.count %></td>
    </tr>
  </table>
</div>
