<!-- Feature 1 -->

<section class="feature_9 bg_white padding_top110 padding_bottom80">
	<div class="container nopadding">
		<h2 class="font42 font_second light dark_gray bottom20">👕 Lead Buyer & Planner</h2>
		<div class="top10 font18 light dark_blue text text1">
      Imagine having a closet that is always in season and filled with the latest in designer & streetwear -- all for less than a utility bill. As Lead Buyer, you will be in complete command of curating and creating that closet for our customers. You'll collaborate with operations team (who deliver and clean the clothes), our tech team (who manage the ordering experience), and our finance team, to create a truly paradigm shifting experience in how people think about their closets. 
    </div>
		<h2 class="font22 light title padding_top20">Responsibilities</h2>
		<div class="top10 font18 light dark_blue text text1">
      <ul>
        <li>Develop and execute a seasonal merchandise strategy on a fixed budget</li>
        <li>Deliver compelling product assortments that excite customers and enhance the brand</li>
        <li>Develop relationships with up-and-coming brands and new vendors</li>
        <li>Monitor open-to-buy and own vendor communications and negotiations</li>
        <li>Leverage data and customer feedback to relentlessly reflect and iterate on buying strategy.</li>
        <li>Coordinate with operations team to evaluate merchandise durability and iterate buying strategy around the limitations of physical rental ops.</li>
        <li>Organize and lead grassroots photoshoots and other artistic production related to the presentation and promotion of the clothes. (This one is actually insanely fun!)</li>
      </ul>
    </div>
    <h2 class="font22 light title padding_top20">Who you are</h2>
		<div class="top10 font18 light dark_blue text text1">
      <ul>
        <li>2+ years of buying experience.</li>
        <li>Experience and existing contacts in Mens streetwear is a bonus.</li>
        <li>High comfort level manipulating and analyzing data to develop buying strategies and insights.</li>
        <li>Willing to step into a leadership role and manage a large buying team as we continue to grow.</li>
      </ul>
    </div>
    <div class="top60 flex justify_center">
      <div class="download_app_btn flex align_center justify_center">
        <div class="nav_elem">
          <%= mail_to("support@therotation.club", "Drop Us a Line", :subject => "Re: Interested in the Lead Buyer position!") %>
        </div>
      </div>
    </div>
  </div>
</section>