<%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %></br>

<div class="kpi index">
  <h2>Inventory KPIs</h2>
  
  <h3>Product Availability</h3>
  <table class="listing admin_table" summary="Unit list">
    <tr class="header">
      <th>Size Filter</th>
      <th>Available SKUs</th>
    </tr>
    <tr>
      <td>All</td>
      <td><%= @inventory.unique_available_item_count.keys.count %></td>
    </tr>
    <% Unit.sizes.keys.each do |size| %>
    <tr>
      <td><%= size %></td>
      <td><%= @inventory.unique_available_item_count(size).keys.count %></td>
    </tr>
    <% end %>
  </table>
</div>
