<a class="open_menu white"><i class="fa fa-bars"></i></a>
<div class="navigation_mobile type1">
  <a class="close_menu white"><i class="fa fa-close"></i></a>
  <div class="padding_sides40 padding_top60 padding_bottom60 inner">
    <div class="nav_logo white bottom30">the rotation</div>
    <div><%= link_to("Home", root_path, class: "ubuntu font22 link white bottom20") %></div>
    <div>
      <% if user_signed_in? %>
        <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "ubuntu font22 link white bottom20") %>
      <% else %>
        <%= link_to("Login", new_user_session_path, class: "ubuntu font22 link white bottom20") %>
      <% end %>
    </div>
    <div><a href="#" class="ubuntu font22 link white bottom20"><i class="fab fa-apple right10"></i>Download App</a></div>

    <div class="socials top40">
      <a href="#" target="_blank" class="link white font18 right20"><i class="fa fa-twitter"></i></a>
      <a href="#" target="_blank" class="link white font18 right20"><i class="fa fa-facebook"></i></a>
      <a href="#" target="_blank" class="link white font18 right20"><i class="fa fa-instagram"></i></a>
    </div>

    <div class="top50 font14 light white opacity3 copy">© 2018 Rotation, Inc. All rights reserved.</div>
  </div>
</div>