<nav class="navigation_6 padding_top30 padding_bottom30 line_height40 transparent top30">
  <div class="container nopadding">
    <div class="float_left nav_logo">the rotation</div>
    <div class="float_right">
      <% if user_signed_in? %>
        <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "link dark_gray right30") %>
      <% else %>
        <%= link_to("Login", new_user_session_path, class: "link dark_gray right30") %>
      <% end %>
      <a href="#" class="btn black size40 padding_sides20 right30"><i class="fab fa-apple right10"></i>Download App</a>
    </div>
  </div>
</nav>