<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td class="px-sm-16" align="center" bgcolor="#FAFAFA">
            <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
                <tr>
                    <td class="px-sm-8" align="left" bgcolor="#FAFAFA">
                        <div class="spacer line-height-sm-0 py-sm-8" style="line-height: 24px;">&zwnj;</div>
                        <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td class="col" align="center" width="100%"
                                    style="font-size:13px;line-height:22px;vertical-align:top;">
                                    <a href="http://therotation.club">
                                        <img src="<%= image_url("The-Rotation-Primary.png")%>"
                                            width="128" style="border:0;line-height:100%;vertical-align:middle;">
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="spacer line-height-sm-0 py-sm-8" style="line-height: 24px;">&zwnj;</div>
                        <img src="<%= image_url("Shipping-Email-Header@2x.png")%>"
                            width="100%" style="border:0;line-height:100%;vertical-align:middle;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td align="center" bgcolor="#FAFAFA" class="px-sm-16">
            <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
                <tr>
                    <td bgcolor="#FFFFFF">
                        <div class="spacer line-height-sm-0 py-sm-16" style="line-height: 32px;">&zwnj;</div>
                        <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td align="center" class="px-sm-16" style="padding: 0 96px;">
                                    <!-- <h1 class="webfont h1"
                                        style="color: #746662; font-size: 28px; font-weight: 500; line-height: 100%; margin: 0 0 16px;">
                                        Hi Smiles Davis,</h1> -->
                                    <p
                                        style="color: hsl(0, 0, 29); font-size: 14px; line-height: 23px; font-weight: 500; margin: 0;">
                                        <b>Good news</b> — your order is being packaged by our operations staff and will
                                        be on its way to you soon. Detailed tracking information will be sent over shortly
                                        in a separate email.<br>
                                        <br>
                                        You can change your items on the <a href=therotation.club/catalog>website</a> or in the <a href=therotation.club/download>iOS app</a> right up until the box leaves our warehouse.<br>
                                        <br>
                                        We can't wait for you to wear your new pieces. Don't hesitate to reach out
                                        to our styling team if you need any assistance: <a
                                            href=stylist@therotation.club>stylist@therotation.club</a>
                                        <!-- <br><br>
                                        <b>For detailed tracking information:</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="webfont" align="center" style="padding: 24px 0 0;">
                                    <a href="mailto:support@therotation.club?subject=Where's My Stuff&body=Please send over tracking info for my next shipment."
                                        style="color: rgb(0, 0, 255); display: inline-block; font-size: 13px; font-weight: 700; text-decoration: none;">TRACK MY ROTATION &rarr;</a> -->
                                </td>
                            </tr>
                        </table>
                        <div class="spacer line-height-sm-0 py-sm-16" style="line-height: 40px;">&zwnj;</div>
                        <!--[if gte mso 9]></div>
          </v:textbox></v:rect><![endif]-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
    