<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td align="center" bgcolor="#FAFAFA" class="px-sm-16">
            <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
                <tr>
                    <td bgcolor="#FFFFFF">
                        <div class="spacer line-height-sm-0 py-sm-16" style="line-height: 32px;">&zwnj;</div>
                        <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td align="left" class="px-sm-16" style="padding: 0 30px;">
                                    <!-- <h1 class="webfont h1"
                                        style="color: #746662; font-size: 28px; font-weight: 500; line-height: 100%; margin: 0 0 16px;">
                                        Hi Smiles Davis,</h1> -->
                                    <p
                                        style="color: hsl(0, 0, 29); font-size: 14px; line-height: 23px; font-weight: 500; margin: 0;">
                                        <b>We’ve received your Rotation!</b> Feel free to choose new items.<br>
                                        <br>
                                        How did your clothes fit? All the feedback we get helps us better curate our collection!<br>
                                        <br>
                                        Best,<br>
                                        The Rotation Team
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <div class="spacer line-height-sm-0 py-sm-16" style="line-height: 40px;">&zwnj;</div>
                        <!--[if gte mso 9]></div>
          </v:textbox></v:rect><![endif]-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>