.fixed_sidebar{
  position: fixed;
  height: 65vh;
}
.catalog_section{
  width: 944px;
}
.width_half{
  width: 50%;
}
.size_btns{
  width: 216px;
}
.reserve_btn{
  width: 213px;
}
.catalog_wrapper{
  max-width: 1312px;
  margin: auto;
}
@media (max-width: 1491px) {
  .catalog_section{
    width: 708px !important;
  }
}
@media (max-width: 1174px) {
  .catalog_section{
    width: 472px !important;
  }
}
@media (max-width: 856px) {
  .catalog_section{
    width: 236px !important;
  }
  .catalog_headers{
    display: block;
  }
  .size_btns{
    margin: 10px 0 10px 20px;
  }
}
@media (max-width: 538px) {
  .catalog_wrapper{
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}
@media (max-width: 440px) {
  .filters_and_designers{
    display: none;
  }
  .catalog_wrapper{
    justify-content: center !important;
  }
  .catalog_section{
    justify-content: center !important;
  }
  .card_large{
    padding-left: 0 !important;
  }
  .size_btns{
    margin-left: 10px;
  }
  .catalog_title{
    margin-left: 10px;
  }
}
.modal_image{
  max-width: 75%;
}
.reserve_btn{
  height: 44px;
}
.modal_btn{
  width: 44px;
  height: 44px;
}
.modal_item{
  max-width: 800px !important;
}
@media (max-width: 1000px) and (min-width: 750px) {
  .modal_item{
    max-width: 600px !important;
  }
  .reserve_btn{
    width: 130px !important;
  }
}
@media (max-width: 749px) {
  .modal_item{
    margin: 0;
    padding: 0;
  }
  .modal_section{
    min-height: 1000px !important;
  }
  .reserve_btn{
    width: 100%;
  }
  .like_btn{
    margin-top: 20px;
    width: 100%;
  }
  .plan_modal{
    margin-top: 250px;
    width: 100% !important;
    text-align: center;
  }
  .plan_btns{
    justify-content: space-evenly !important;
  }
  .add_credit_card{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile_billing_modal{
    display: block !important;
  }
  .non_mobile_billing_modal{
    display: none;
  }
  .shipping_input{
    width:250px !important;
    margin-left: auto !important;
  }
  .confirm_modal{
    width: 300px !important;
  }
  .confirm_modal_box{
    width: 300px;
    height: auto !important;
  }
  .sign_up_modal{
    margin-top: 250px;
  }
  .login_modal{
    margin-top: 250px;
  }
  .mobile_overflow{
    display: flex;
  }
  .non_mobile_overflow{
    display: none;
  }
}
.section.cta {
  background-image: url('../img/cta-banner-background.jpg'), -webkit-gradient(linear, left top, right top, color-stop(13%, hsla(0, 0%, 100%, 0.89)), color-stop(57%, hsla(0, 0%, 100%, 0)));
  background-image: url('../img/cta-banner-background.jpg'), linear-gradient(90deg, hsla(0, 0%, 100%, 0.89) 13%, hsla(0, 0%, 100%, 0) 57%);
  background-position: 0% 0%, 0px 0px;
  background-size: cover, auto;
  background-attachment: scroll, scroll;
}
.container {
  position: relative;
  z-index: 1;
  display: block;
  width: 1200px;
  max-width: 100%;
  margin: 24px auto;
  padding-right: 24px;
  padding-left: 24px;
  color: #fff;
  text-align: center;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container:before,
.w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-container:after {
  clear: both;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.cta-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.w-row:before,
.w-row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-row:after {
  clear: both;
}
.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width:991px) {
  .section.cta{
    padding: 60px 20px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .w-container {
    max-width: 728px;
  }
}

@media screen and (max-wdith:767px) {
  .section.cta {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(44%, #dbdbdb), to(hsla(0, 0%, 100%, 0))), url('../img/cta-banner-background.jpg');
    background-image: linear-gradient(90deg, #dbdbdb 44%, hsla(0, 0%, 100%, 0)), url('../img/cta-banner-background.jpg');
    background-position: 0px 0px, 50% 33%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .container {
    height: auto;
  }
  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }
  .cta-row {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .section.cta {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(44%, #dbdbdb), to(hsla(0, 0%, 100%, 0))), url('../img/cta-banner-background.jpg');
    background-image: linear-gradient(90deg, #dbdbdb 44%, hsla(0, 0%, 100%, 0)), url('../img/cta-banner-background.jpg');
    background-position: 0px 0px, 0% 50%;
    background-size: auto, cover;
  }
  .container {
    height: auto;
  }
  .w-container {
    max-width: none;
  }
  .cta-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}