.fixed_sidebar{
  position: fixed;
  height: 65vh;
}
.catalog_section{
  width: 944px;
}
.width_half{
  width: 50%;
}
.size_btns{
  width: 216px;
}
.reserve_btn{
  width: 213px;
}
.catalog_wrapper{
  max-width: 1312px;
  margin: auto;
}
@media (max-width: 1491px) {
  .catalog_section{
    width: 708px !important;
  }
}
@media (max-width: 1174px) {
  .catalog_section{
    width: 472px !important;
  }
}
@media (max-width: 856px) {
  .catalog_section{
    width: 236px !important;
  }
  .catalog_headers{
    display: block;
  }
  .size_btns{
    margin: 10px 0 10px 20px;
  }
}
@media (max-width: 538px) {
  .catalog_wrapper{
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}
@media (max-width: 440px) {
  .filters_and_designers{
    display: none;
  }
  .catalog_wrapper{
    justify-content: center !important;
  }
  .catalog_section{
    justify-content: center !important;
  }
  .card_large{
    padding-left: 0 !important;
  }
  .size_btns{
    margin-left: 10px;
  }
  .catalog_title{
    margin-left: 10px;
  }
}
.modal_image{
  max-width: 75%;
}
.reserve_btn{
  height: 44px;
}
.modal_btn{
  width: 44px;
  height: 44px;
}
.modal_item{
  max-width: 800px !important;
}
@media (max-width: 1000px) and (min-width: 750px) {
  .modal_item{
    max-width: 600px !important;
  }
  .reserve_btn{
    width: 130px !important;
  }
}
@media (max-width: 749px) {
  .modal_item{
    margin: 0;
    padding: 0;
  }
  .modal_section{
    min-height: 1000px !important;
  }
  .reserve_btn{
    width: 100%;
  }
  .like_btn{
    margin-top: 20px;
    width: 100%;
  }
  .plan_modal{
    margin-top: 250px;
    width: 100% !important;
    text-align: center;
  }
  .plan_btns{
    justify-content: space-evenly !important;
  }
  .add_credit_card{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile_billing_modal{
    display: block !important;
  }
  .non_mobile_billing_modal{
    display: none;
  }
  .shipping_input{
    width:250px !important;
    margin-left: auto !important;
  }
  .confirm_modal{
    width: 300px !important;
  }
  .confirm_modal_box{
    width: 300px;
    height: auto !important;
  }
  .sign_up_modal{
    margin-top: 250px;
  }
  .login_modal{
    margin-top: 250px;
  }
  .mobile_overflow{
    display: flex;
  }
  .non_mobile_overflow{
    display: none;
  }
}
.section.cta {
  background-image: url('../img/cta-banner-background.jpg'), -webkit-gradient(linear, left top, right top, color-stop(13%, hsla(0, 0%, 100%, 0.89)), color-stop(57%, hsla(0, 0%, 100%, 0)));
  background-image: url('../img/cta-banner-background.jpg'), linear-gradient(90deg, hsla(0, 0%, 100%, 0.89) 13%, hsla(0, 0%, 100%, 0) 57%);
  background-position: 0% 0%, 0px 0px;
  background-size: cover, auto;
  background-attachment: scroll, scroll;
  position: relative;
}
.container {
  position: relative;
  z-index: 1;
  display: block;
  width: 1200px;
  max-width: 100%;
  margin: 24px auto;
  padding-right: 24px;
  padding-left: 24px;
  color: #fff;
  text-align: center;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container:before,
.w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-container:after {
  clear: both;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.cta-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.w-row:before,
.w-row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.w-row:after {
  clear: both;
}
.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}
.w-col-6 {
  width: 50%;
}
.left-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}
.section-tittle {
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
}
.section-tittle.cta {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Proxima Nova', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 46px;
}
.cta-button-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.button {
  height: auto;
  margin-right: 12px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px none #fff;
  border-radius: 0px;
  background-color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #000;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.button:hover {
  border: 0px none transparent;
  background-color: #ac1313;
  opacity: 1;
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
  color: #fff;
  font-weight: 400;
}

.button.dark {
  margin-right: 0px;
  padding: 20px 40px;
  border-style: none;
  border-color: #000;
  border-radius: 0px;
  background-color: #ac1313;
  font-family: Poppins, sans-serif;
  color: #fff;
  line-height: 22px;
}

.button.dark:hover {
  border-style: none;
  border-color: #53d7db;
  background-color: #000;
  -webkit-transform: translate(0px, -6px);
  -ms-transform: translate(0px, -6px);
  transform: translate(0px, -6px);
  color: #fff;
}

.button.dark.center {
  display: block;
  text-align: center;
}

.button.white {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
.text-block-4 {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0px, -50%) rotate(-90deg);
  -ms-transform: translate(0px, -50%) rotate(-90deg);
  transform: translate(0px, -50%) rotate(-90deg);
  font-family: 'Druk Wide', sans-serif;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width:991px) {
  .section.cta{
    padding: 60px 20px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .w-container {
    max-width: 728px;
  }
  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
  .left-block {
    display: block;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section-tittle.cta {
    font-size: 24px;
    line-height: 140%;
  }
  .cta-button-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-wdith:767px) {
  .section.cta {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(44%, #dbdbdb), to(hsla(0, 0%, 100%, 0))), url('../img/cta-banner-background.jpg');
    background-image: linear-gradient(90deg, #dbdbdb 44%, hsla(0, 0%, 100%, 0)), url('../img/cta-banner-background.jpg');
    background-position: 0px 0px, 50% 33%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .container {
    height: auto;
  }
  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }
  .cta-row {
    display: block;
  }
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
  .left-block {
    margin-bottom: 60px;
  }
  .cta-button-block {
    margin-top: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .button {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .section.cta {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(44%, #dbdbdb), to(hsla(0, 0%, 100%, 0))), url('../img/cta-banner-background.jpg');
    background-image: linear-gradient(90deg, #dbdbdb 44%, hsla(0, 0%, 100%, 0)), url('../img/cta-banner-background.jpg');
    background-position: 0px 0px, 0% 50%;
    background-size: auto, cover;
  }
  .container {
    height: auto;
  }
  .w-container {
    max-width: none;
  }
  .cta-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
  .section-tittle {
    font-size: 30px;
    line-height: 40px;
  }
  .cta-button-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .button {
    margin-bottom: 10px;
  }
}