::-webkit-input-placeholder{
  color: #333333;
}
@media (max-width: 843px) {
  .account_title{
    text-align: center;
  }
  .input_box {
    margin: 20px auto;
    width: 250px;
  }
  .input_group{
    display: block !important;
  }
  .input_field{
    width: 200px;
  }
}
