.login_box{
  border-radius: 8px;
}
.input_box_account{
  border-radius: 2px;
}
::-webkit-input-placeholder{
  color: #333333;
}
.very_light_gray{
  color: #949494;
}
.profile_divider{
  height: 1px;
}
@media (max-width: 843px) {
  .account_title{
    text-align: center;
  }
  .input_box_account{
    margin: 20px auto;
    width: 250px;
  }
  .cancel_subscription{
    margin-left: 0px;
    margin-top: 20px;
  }
  .input_group{
    display: block !important;
  }
  .input_field{
    width: 200px;
  }
}
