footer{
  background: #141414;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer_container{
  width: auto;
}
@media (max-width: 960px) {
  .footer_container{
    width: 200px;
    margin: auto;
  }
  .justify_center_under_960{
    justify-content: center !important;
  }
}
