.non_mobile_item_modal{
  display: block;
}
.mobile_item_modal{
  display: none;
}
@media (max-width: 844px) {
  .mobile_item_modal{
    display: block !important;
  }
  .non_mobile_item_modal{
    display: none  !important;
  }
}
