@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
@import url("https://use.typekit.net/ffx7ipy.css");
@font-face {
  font-family: "Druk Text Wide";
  src: font-url("DrukTextWide-Medium.otf") format('opentype');
}
@font-face {
  font-family: "Druk Wide Medium";
  src: font-url("DrukWide-Medium.otf") format('opentype');
}
@font-face {
  font-family: "Proxima Nova";
  src: font-url("Proxima-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: font-url("Proxima-Semibold.ttf") format('truetype');
}