.login_box{
  border-radius: 8px;
}
.gray_border{
  border: 1px solid #ADADAD;
}
.input_box{
  border-radius: 2px;
}
.very_light_gray{
  color: #949494;
}
::-webkit-input-placeholder{
  color: #333333;
}
.height15{
  height: 15px;
}
@media (max-width: 1085px) {
  .login_image{
    margin: 80px 20px !important;
  }
  .login_box{
    margin: 180px 20px !important;
  }
}
@media (max-width: 900px) {
  .login_image{
    display: none;
  }
}
