.reserve_btn{
  width: 213px;
}
.modal_brand{
  margin: 10px 20px;
}
.modal_description{
  margin: 20px 20px;
}
.product_description{
  max-height: 150px;
  margin: 20px 20px;
}
.modal_buttons{
  margin: 30px 20px;
}
.reserve_btn{
  height: 44px;
  margin: 0px 5px;
}
.modal_btn{
  width: 44px;
  height: 44px;
  margin: 0px 5px;
}
@media (max-width: 1000px) and (min-width: 750px) {
  .reserve_btn{
    width: 130px !important;
  }
}
@media (max-width: 749px) {
  .modal_brand{
    margin-top: 25px;
  }
  .reserve_btn{
    width: 100%;
  }
  .like_btn{
    margin-top: 20px;
    width: 100%;
  }
  .modal_description{
    font-size: 18px;
  }
}
