.fixed_sidebar{
  position: fixed;
  height: 65vh;
}
.catalog_section{
  width: 944px;
}
.width_half{
  width: 50%;
}
.size_btns{
  width: 216px;
}
.reserve_btn{
  width: 213px;
}
.catalog_wrapper{
  max-width: 1312px;
  margin: auto;
}
.product_description{
  height: 200px;
  position: absolute;
  top: 180px;
}

@media (max-width: 1491px) {
  .catalog_section{
    width: 708px !important;
  }
}
@media (max-width: 1174px) {
  .catalog_section{
    width: 472px !important;
  }
}
@media (max-width: 856px) {
  .catalog_section{
    width: 236px !important;
  }
  .catalog_headers{
    display: block;
  }
  .size_btns{
    margin: 10px 0 10px 20px;
  }
}
@media (max-width: 538px) {
  .catalog_wrapper{
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}
@media (max-width: 440px) {
  .filters_and_designers{
    display: none;
  }
  .catalog_wrapper{
    justify-content: center !important;
  }
  .catalog_section{
    justify-content: center !important;
  }
  .card_large{
    padding-left: 0 !important;
  }
  .size_btns{
    margin-left: 10px;
  }
  .catalog_title{
    margin-left: 10px;
  }
}
.modal_image{
  max-width: 75%;
}
.reserve_btn{
  height: 44px;
}
.modal_btn{
  width: 44px;
  height: 44px;
}
.modal_item{
  max-width: 800px !important;
}
@media (max-width: 1000px) and (min-width: 750px) {
  .modal_item{
    max-width: 600px !important;
  }
  .reserve_btn{
    width: 130px !important;
  }
}
@media (max-width: 749px) {
  .modal_item{
    margin: 0;
    padding: 0;
  }
  .modal_section{
    min-height: 1000px !important;
  }
  .modal_brand{
    margin-top: 250px;
  }
  .reserve_btn{
    width: 100%;
  }
  .like_btn{
    margin-top: 20px;
    width: 100%;
  }
  .modal_brand{
    text-align: center;
  }
  .modal_description{
    text-align: center;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .plan_modal{
    margin-top: 250px;
    width: 100% !important;
    text-align: center;
  }
  .plan_btns{
    justify-content: space-evenly !important;
  }
  .add_credit_card{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile_billing_modal{
    display: block !important;
  }
  .non_mobile_billing_modal{
    display: none;
  }
  .shipping_input{
    width:250px !important;
    margin-left: auto !important;
  }
  .confirm_modal{
    width: 300px !important;
  }
  .confirm_modal_box{
    width: 300px;
    height: auto !important;
  }
  .sign_up_modal{
    margin-top: 250px;
  }
  .login_modal{
    margin-top: 250px;
  }
  .mobile_overflow{
    display: flex;
  }
  .non_mobile_overflow{
    display: none;
  }
}
