<div dir=3D"ltr">
   <%= yield %>
   <div>
      <br clear=3D"all">
      <div>
         <div dir=3D"ltr" class=3D"gmail_signature" data-smartmail=3D"gmail_signature">
            <div dir=3D"ltr">
               <div>
                  <div dir=3D"ltr">
                     <div>
                        <div dir=3D"ltr">
                           <div dir=3D"ltr">
                              <div dir=3D"ltr">
                                 <div dir=3D"ltr"><font color=3D"#666666">--</font></div>
                                 <div dir=3D"ltr">
                                    <div dir=3D"ltr">
                                       <div dir=3D"ltr">
                                          <div dir=3D"ltr">
                                             <div dir=3D"ltr"><font color=3D"#666666">Zach Podbela<br></font></div>
                                             <div dir=3D"ltr"><font color=3D"#666666">CEO | <a href="http://therotation.club" target=3D"_blank"><font color=3D"#666666">The Rotation</font></a></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>